body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eff5f8;
    color: #001b44;
}

h2 {
    text-align: center;
}

p {
    line-height: 2;
    width: 80%;
    text-align: center;
    margin: 50px 0px 50px 80px;
}

button {
    background-color: #89a9da;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 8px 20px;
}

.card {
    display: block;
    background-color: antiquewhite;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0;
    margin: 60px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.q_box {
    display: block;
    background-color: antiquewhite;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0;
    margin: 60px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
} 

.top_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.high_score {
    background-color: aquamarine;
}

.timmer{
    background-color: blue;
}
.question { 
    background-color: red;
    margin-bottom: 65px;
    display: block;
}

.choice_A,
.choice_B,
.choice_C,
.choice_D {
    background-color: aliceblue;
    margin-top: 25px;
    width: 75%;
    margin-left: 11%;
    cursor: pointer;
}

.result {
    margin-top: 35px;
}